body{
    background: white;
    color: black;

}

main{
    margin: 1%;

}

.custom-input {
    background-color: #565657; /* Світло-блакитний фон */
    color: #80571d; /* Темний текст */
}



.about{
    background: rgb(12,44,21);
    padding: 10px;
    color: red;
}

.button{
    background: linear-gradient(purple, yellow);
    padding 10px;
    margin: 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 10px
}