{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <h1 class="text-center my-5">SnackSprint</h1>
        {% include 'alerts.html' %}
            <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for article in articles %}
                <div class="col">
                <div class="card">
                  <img src="{{ url_for('static', filename='img/'+article[6]) }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{article[1]}}</h5>
                    <a class="btn btn-primary stretched-link" href="{{ url_for('article_page', item_id=article[0])}}" role="button">Замовити</a>
                  </div>
                </div>
              </div>

            {% endfor %}
            </div>
    </main>
{% endblock content %}