{% extends 'base.html' %}
{% block title %}
        <title>Замовлення - Snack</title>
{% endblock title %}

{% block content %}
    <main class="container py-3">
        <h1 class="text-center my-5">Замовлення</h1>
        {% include 'alerts.html' %}
        <form action="" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="articleTitle" class="form-label">ПІБ</label>
                <input required name="fullname" type="text" class="form-control" id="articleTitle" placeholder="Введіть ПІБ">
            </div>
            <div class="mb-3">
                <label for="articleTitle" class="form-label">Email</label>
                <input required name="email" type="text" class="form-control" id="articleTitle" placeholder="Введіть Email">
            </div>
            <div class="mb-3">
                <label for="articleTitle" class="form-label">Number phone</label>
                <input required name="phone" type="tel" class="form-control" id="articleTitle" placeholder="Введіть номер телефону">
            </div>
            <div class="mb-3">
                <label for="articleTitle" class="form-label">quantity</label>
                <input required name="quantity" type="number" class="form-control" id="articleTitle" value="1" min="1" max="20">
            </div>

           <!-- <select required name='articles' class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              {% for category in categories%}
                <option value="{{category[0]}}">{{category[1]}}</option>
              {%endfor%}
            </select>-->
            <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Коментар-Побажання</label>
          <textarea required name='comment' class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary mt-4 mb-5">Замовити</button>
        </form>

    </main>
{% endblock content %}